<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Catalog\Api\CategoriesInterface" type="AlbertMage\Catalog\Model\Categories"/>
    <preference for="AlbertMage\Catalog\Api\ProductsInterface" type="AlbertMage\Catalog\Model\Products"/>
</config>