<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Catalog\Api\CategoryListInterface" type="AlbertMage\Catalog\Model\CategoryList"/>
    <preference for="AlbertMage\Catalog\Api\SearchInterface" type="AlbertMage\Catalog\Model\Search"/>
</config>